# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: DreamPotato Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
    - name: Download resources
      run: curl https://dreampotato.blob.core.windows.net/resources/Data/american_v1.05.bin -o src/DreamPotato.Tests/Data/american_v1.05.bin
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -bl
    - name: Upload Binlog
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: msbuild.binlog
        path: msbuild.binlog
    - name: Test
      run: dotnet test --logger "trx;LogFileName=test-results.trx" --results-directory "artifacts/TestResults"
    - name: Publish Test Results
      uses: dorny/test-reporter@v2
      if: ${{ !cancelled() }}
      with:
        name: dotnet test
        path: artifacts/TestResults/test-results.trx
        reporter: dotnet-trx
        list-suites: failed
        list-tests: failed

  PublishLinux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
    - name: Download resources
      run: curl https://dreampotato.blob.core.windows.net/resources/Data/american_v1.05.bin -o src/DreamPotato.MonoGame/Data/american_v1.05.bin
    - name: Restore dependencies
      run: dotnet restore

    - name: dotnet publish linux-x64
      run: dotnet publish src/DreamPotato.MonoGame -r linux-x64
    - name: Upload Linux x64
      uses: actions/upload-artifact@v4
      with:
        name: DreamPotato-Linux-x64-dev
        path: artifacts/publish/DreamPotato.MonoGame/release_linux-x64/

  PublishWindows:
    runs-on: windows-latest
    environment: WindowsSigned
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
      - name: Download resources
        run: curl https://dreampotato.blob.core.windows.net/resources/Data/american_v1.05.bin -o src/DreamPotato.MonoGame/Data/american_v1.05.bin
      - name: Restore dependencies
        run: dotnet restore

      - name: dotnet publish win-x64
        run: dotnet publish src/DreamPotato.MonoGame -r win-x64

      - name: Sign files
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: https://wus2.codesigning.azure.net
          trusted-signing-account-name: DreamPotatoSigning
          certificate-profile-name: DreamPotatoPublicCert
          files-folder: artifacts/publish/DreamPotato.MonoGame/release_win-x64/
          files-folder-filter: exe,dll
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Upload win-x64
        uses: actions/upload-artifact@v4
        with:
          name: DreamPotato-Windows-x64-dev
          path: artifacts/publish/DreamPotato.MonoGame/release_win-x64/

  PublishMac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
    - name: Download resources
      run: curl https://dreampotato.blob.core.windows.net/resources/Data/american_v1.05.bin -o src/DreamPotato.MonoGame/Data/american_v1.05.bin
    - name: Run pack-arm64.sh
      run: ./src/DreamPotato.MonoGame/Mac/pack-arm64.sh
    - name: Upload Mac arm64
      uses: actions/upload-artifact@v4
      with:
        name: DreamPotato-Mac-arm64-dev
        path: artifacts/DreamPotato-mac-arm64.zip
